.app-bar {
    background-color: #1976d2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-bar-container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 16px;
width: 100% !important;
max-width: 100% !important;
}

.app-bar-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    max-width: 100% !important;
}

.app-bar-title {
font-size: 1.5rem;
font-weight: bold;
color: #ffffff;
}

.menu-item {
margin-left: 16px;
}

.menu-item a {
text-decoration: none;
color: #ffffff;
font-size: 1rem;
font-weight: 500;
}

.menu-item a:hover {
color: #ffcc00;
}

.navbar-items{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avatar-box {
display: flex;
align-items: center;
gap: 10px;
}

.icon-button {
color: #ffffff;
}

.menu {
    margin-top: 10px;
}

.logout-menu-item {
font-size: 1rem;
color: #333333;
}

.logout-menu-item:hover {
    background-color: #f5f5f5;
}


.box-container {
    display: flex;
    align-items: center;
}
